<div class="p-0 col-2">
    <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" href="/admin" sec:authorize="hasAuthority('ADMIN')" role="tab"
           aria-controls="v-pills-home" aria-selected="true">Admin</a>
        <a class="nav-link" href="/user" sec:authorize="(hasAnyAuthority('ADMIN', 'USER'))"
           role="tab"
           aria-controls="v-pills-profile" aria-selected="false">User</a>
    </div>
</div>